.departments-section {
  background-color: $color_light_pink;
}

.departments-container {
  margin-left: auto;
  margin-right: auto;
}

.departments-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.departments-listik {
  width: 220px;
  background: $color_white;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
}

.departments-thumb {
  padding: 43px 20px 43px 21px;
}

.departments-header {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.37;
  color: $color_white;
  text-align: center;
}

.cafe {
  display: block;
  background-color: $color_yellow;
  border-radius: 4px;
  width: 80px;
  height: 16px;
}

.departments-miniheader {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.37;
  letter-spacing: 0.04em;
  color: $color_black;
  margin-top: 25px;
  margin-bottom: 0;
}

.departments-description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $color_brown;
  margin-top: 10px;
  display: inline-block;
}

.departments-workingtime {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 25px;
  margin-bottom: 25px;
  & ul {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.hours-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &:nth-child(2) {
    padding-top: 10px;
  }
}

.departments-week {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.37;
  color: $color_black;
  display: block;
  margin: 0;
}

.departments-hours {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $color_secondary_pink;
  display: block;
}

.departmnets-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $color_brown;
  text-decoration: none;
}
