header {
  background-color: $color_main_pink;
  .container-head {
    margin: auto;
    padding: 0px 20px 0px 20px;
    width: 100%;
    @media screen and (min-width: $mobile_l) {
      width: 480px;
      padding: 0px 28px 0px 28px;
    }
    @media screen and (min-width: $tablet) {
      width: 768px;
      padding: 0px 35px 0px 35px;
    }
    @media screen and (min-width: $desktop) {
      width: 1280px;
      padding: 0px 40px 0px 40px;
    }
    .header-container {
      @media screen and(min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 37px;
      }
      @media screen and (min-width: $desktop) {
        justify-content: space-around;
      }
      @media screen and (min-width: $mobile_s) {
        padding-top: 6px;
      }
      @media screen and (min-width: $tablet) {
        padding-top: 37px;
      }
      .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          display: flex;
          align-items: center;
          font-family: $font_titan;
          font-weight: 900;
          font-size: 22px;
          color: $color_red;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.04em;
          @media screen and (min-width: $tablet) {
            margin-right: 291px;
          }
          @media screen and (min-width: $desktop) {
            margin-right: 110px;
          }
          .logo-icon {
            margin-right: 20px;
          }
        }
      }
      .menu-container {
        @media screen and(max-width: 1279px) {
          display: none;
        }
        .menu-list {
          display: flex;
          list-style-type: none;
          margin: 0px;
          padding: 0px;
          font-family: $font_dm;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.31;
          color: $color_white;
          .menu-list-item:not(:last-child) {
            margin-right: 35px;
          }
          a {
            color: $color_white;
            text-decoration: none;
            transition: all 250ms $cubic;
            &:hover {
              color: $color_red;
            }
          }
        }
      }
      .menu-button {
        display: inline-flex;
        margin: 0px;
        padding: 0px;
        background-color: transparent;
        border: none;
        outline: transparent;
        @media screen and (min-width: $desktop) {
          display: none;
        }
        .menu-button-icon {
          position: absolute;
          width: 20px;
          height: 12px;
        }
      }
      .buy-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 44px;
        background-color: $color_white;
        border-radius: 22px;
        border-color: transparent;
        outline: transparent;
        transition: all 250ms $cubic;
        @media screen and (max-width: 767px) {
          display: none;
        }
        &:hover,
        &:focus {
          background-color: $color_button-grey;
          cursor: pointer;
        }
        .buy-btn-text {
          display: block;
          margin-right: 12px;
          font-family: $font_dm;
          font-weight: 700;
          font-size: 16px;
          color: $color_red;
        }
        .buy-btn-icon {
          margin-top: 2px;
        }
      }
    }
  }
}
