<section>
  <div class="container">
    <div class="departments-container">
      <ul class="departments-list">
        <li>
          <h3 class="departments-header">CAFE</h3>
          <h4 class="departments-miniheader">Chicago</h4>
          <span class="departments-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate</span
          >
          <div class="departments-workingtime">
            <p class="departments-week">Monday - Friday</p>
            <span class="departments-hours">06:00 AM - 10:00 PM</span>
          </div>
          <a href="tel:+61(0) 383 766 284 " class="departmnets-contacts"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com " class="departmnets-contacts"
            >noreply@envato.com</a
          >
        </li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="departments-btns"></div>
  </div>
</section>
