<section class="departments-section">
  <div class="container">
    <div class="departments-container">
      <ul class="departments-list">
        <li class="departments-listik">
          <div class="departments-thumb">
            <span class="cafe"><h3 class="departments-header">CAFE</h3></span>
            <h4 class="departments-miniheader">Chicago</h4>
            <span class="departments-description">
              Our cozy lounge is located right in front of Des Plaines River.
            </span>
            <div class="departments-workingtime">
              <ul>
                <li class="hours-list">
                  <p class="departments-week">Monday - Friday</p>
                  <span class="departments-hours">06:00 AM - 10:00 PM</span>
                </li>
                <li class="hours-list">
                  <p class="departments-week">Saturday - Sunday</p>
                  <span class="departments-hours">08:00 AM - 16:00 PM </span>
                </li>
              </ul>
            </div>
            <a href="tel:+18722068054" class="departmnets-contacts"
              >+1 872 206 80 54</a
            >
            <br />
            <a href="mailto:icecream-ch@gmail.com" class="departmnets-contacts"
              >icecream-ch@gmail.com</a
            >
          </div>
        </li>

        <li class="departments-listik">
          <div class="departments-thumb">
            <span class="cafe">
              <h3 class="departments-header">CAFE</h3>
            </span>
            <h4 class="departments-miniheader">Chicago</h4>
            <span class="departments-description">
              Our cozy lounge is located right in front of Des Plaines River.
            </span>
            <div class="departments-workingtime">
              <ul>
                <li class="hours-list">
                  <p class="departments-week">Monday - Friday</p>
                  <span class="departments-hours">06:00 AM - 10:00 PM</span>
                </li>
                <li class="hours-list">
                  <p class="departments-week">Saturday - Sunday</p>
                  <span class="departments-hours">08:00 AM - 16:00 PM </span>
                </li>
              </ul>
            </div>
            <a href="tel:+18722068054" class="departmnets-contacts"
              >+1 872 206 80 54</a
            >
            <br />
            <a href="mailto:icecream-ch@gmail.com" class="departmnets-contacts"
              >icecream-ch@gmail.com</a
            >
          </div>
        </li>

        <li class="departments-listik">
          <div class="departments-thumb">
            <span class="cafe">
              <h3 class="departments-header">CAFE</h3>
            </span>
            <h4 class="departments-miniheader">Chicago</h4>
            <span class="departments-description">
              Our cozy lounge is located right in front of Des Plaines River.
            </span>
            <div class="departments-workingtime">
              <ul>
                <li class="hours-list">
                  <p class="departments-week">Monday - Friday</p>
                  <span class="departments-hours">06:00 AM - 10:00 PM</span>
                </li>
                <li class="hours-list">
                  <p class="departments-week">Saturday - Sunday</p>
                  <span class="departments-hours">08:00 AM - 16:00 PM </span>
                </li>
              </ul>
            </div>
            <a href="tel:+18722068054" class="departmnets-contacts"
              >+1 872 206 80 54</a
            >
            <br />
            <a href="mailto:icecream-ch@gmail.com" class="departmnets-contacts"
              >icecream-ch@gmail.com</a
            >
          </div>
        </li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="departments-btns"></div>
  </div>
</section>
