<header>
<div class="container-head">
    <div class="header-container">
        <div class="nav-container">
        <a class="logo-link" href="">
            <svg class="logo-icon" width="50" height="50">
                <use href="./images/sprite.svg#logo"></use>
            </svg>
          icecream
        </a>
        <nav class="menu-container">
            <ul class="menu-list">
                <li class="menu-list-item currant">Home</li>
                <li class="menu-list-item">About us</li>
                <li class="menu-list-item">How it’s made?</li>
                <li class="menu-list-item">Our products</li>
                <li class="menu-list-item">Contact</li>
            </ul>
        </nav>
       
        <button class="menu-button" type="button" aria-label="переключатель мобильного меню" aria-controls="menu-container"
            aria-expanded="false" data-menu-button>
            <svg width="24" height="16">
                <use class="icon-menu" href="./images/sprite.svg#burger"></use>
                <use class="icon-cros" href="./images/sprite.svg#cross"></use>
            </svg>
        </button>
        </div>
        <button class="buy-btn" type="button">
            <span class="buy-btn-text">Buy now</span>
            <svg class="buy-btn-icon" width="4" height="8">
                <use href="./images/sprite.svg#arrow-header"></use>
            </svg>
        </button>
    </div>

</div>
</header>