<div class="hero">
    <div class="container hero-box">
        <div class="hero-text">
        <p class="hero-text1">
            ice cream made with
            </p>
            <p class="hero-text2">passion</p>
        </div>

        <div class="hero-box__button">
        <button class="hero-box__button-products">Products</button>
        <button class="hero-box__button-made">How it’s made?</button>
        </div>
        <div class="hero-arrow">
        <p class="hero-text3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <a class="hero-arrow__circle"
            href="https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D1%80%D0%BE%D0%B6%D0%B5%D0%BD%D0%BE%D0%B5"
                  >
            <svg class="hero-arrow__sign">
            <use href="./images/sprite.svg#arrow"></use>
            </svg>
        </a>
        </div>
        <div class="hero-circle-box">
            <div class="hero-circle"> </div>
        </div>
       
        <picture class="hero-icecream">
            <source
              srcset="
                ./images/desktop/sd.webp 1x,
                ./images/desktop/sd.png 1x,
                ./images/desktop/sd@2.webp 2x,
                ./images/desktop/sd@2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
              ./images/tablet/st.webp 1x,
              ./images/tablet/st.png 1x,
              ./images/tablet/st@2.webp 2x,
              ./images/tablet/st@2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
              ./images/mobile/sm.webp 1x,
              ./images/mobile/sm.png 1x,
              ./images/mobile/sm@2.webp 2x,
              ./images/mobile/sm@2.png 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/hero-icecream-236.png" alt="Фото" width="100%" />
          </picture>
          <picture class="hero-milk">
            <source
              srcset="
                ./images/desktop/hmd.webp 1x,
                ./images/desktop/hmd.png 1x,
                ./images/desktop/hmd@2.webp 2x,
                ./images/desktop/hmd@2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
              ./images/tablet/hmt.webp 1x,
              ./images/tablet/hmt.png 1x,
              ./images/tablet/hmt@2.webp 2x,
              ./images/tablet/hmt@2.png 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./images/hero-milk-188.png" alt="Фото" width="100%" />
          </picture>
          <picture class="hero-woman">
            <source
              srcset="
                ./images/desktop/hwd.webp 1x,
                ./images/desktop/hwd.png 1x,
                ./images/desktop/hwd@2.webp 2x,
                ./images/desktop/hwd@2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
              ./images/tablet/hwt.webp 1x,
              ./images/tablet/hwt.png 1x,
              ./images/tablet/hwt@2.webp 2x,
              ./images/tablet/hwt@2.png 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./images/desktop/hwd.png" alt="Фото" width="100%" />
          </picture>
        <div class="hero-time">
            <div class="hero-time_circle1"></div>
            <div class="hero-time_circle2"></div>
            <p class="hero-time_numeral1">16</p>
            <p class="hero-time_numeral2">23</p>
            <p class="hero-time_text1">cafes</p>
            <p class="hero-time_text2">food trucks</p>
        </div>
    </div>
</div>
