<section class="howitsmade_data">
    <div class="container">
        <div class="features-data">
            <ul class="features-data-list">
                <li>
                    <svg width="50" height="50">
                        <use href="./images/sprite.svg#udder"></use>
                    </svg>
                    <h3 class="features-data-title">721</h3>
                    <p class="features-data-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li>
                    <svg width="50" height="50">
                        <use href="./images/sprite.svg#apples"></use>
                    </svg>
                    <h3 class="features-data-title">16kg</h3>
                    <p class="features-data-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li>
                    <svg width="50" height="50">
                        <use href="./images/sprite.svg#heart"></use>
                    </svg>
                    <h3 class="features-data-title">84</h3>
                    <p class="features-data-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
            </ul>
        </div>

        <picture class="features-data-thumb">
            <source srcset="./images/gallery.webp " type="image/webp" />
            <img srcset="
            ./images/gallery-1280.png 1x,
            ./images/gallery-2560.png 2x" src="./images/gallery-1280.png" alt="gallery" />
        </picture>
    </div>
</section>