<div class="container features-data">
    <ul class="features-data__list">
        <li class="features-data__item">
            <h3 class="features-data__title">721</h3>
            <p class="features-data__info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="features-data__item">
            <h3 class="features-data__title">16kg</h3>
            <p class="features-data__info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="features-data__item">
            <h3 class="features-data__title">84</h3>
            <p class="features-data__info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>
</section>