<!DOCTYPE html>
<!-- Меню для планшета та мобільного !-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./partials/css/modern-normalize.css">
    <link rel="stylesheet" href="../sass/main.css">
    <title>Document</title>
</head>

<body class="container">
    <!-- Меню для планшета та мобільного !-->
    <!--ПОЧАТОК КОДУ-->
    <section class="side-menu" data-modal>
        <div class="side-menu__div">
            <div class="button-div-close">
                <button class="side-menu__button-close" data-modal-close>
                    <svg class="side-menu__button-close-icon" width="14" height="14">
                        <use href="../images/sprite.svg#cross"></use>
                    </svg>
                </button>
            </div>
            <div class="button-div-buy">
                <button class="side-menu__button-buy" type="button">
                    <span class="side-menu__button-buy-text">Buy now</span>
                    <svg class="side-menu__button-buy-icon" width="6" height="9">
                        <use href="../images/sprite.svg#arrow-header"></use>
                    </svg>
                </button>
            </div>
            <nav class="side-menu__nav">
                <ul class="side-menu__list">
                    <li class="side-menu__items"><a class="side-menu__links active-link" href="">Home</a></li>
                    <li class="side-menu__items"><a class="side-menu__links" href="">About us</a></li>
                    <li class="side-menu__items"><a class="side-menu__links" href="">How it`s made?</a></li>
                    <li class="side-menu__items"><a class="side-menu__links" href="">Our products</a></li>
                    <li class="side-menu__items"><a class="side-menu__links" href="">Contact</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <!--Кінець -->
</body>

</html>
<!-- Меню для планшета та мобільного!-->